/* Style the tab */
div.tab {
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #FFFFF0;
    box-shadow: 0px 0px 30px #242424;

}

/* Style the buttons inside the tab */
div.tab button {
    z-index: 10000;
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 40px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
    opacity: 0.8;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.fullscreen {
    background-color: #242424;
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 165%;
}

.headerPic {
    filter: brightness(130%);
    filter: contrast(90%);
    top: -10%;
    left: 0%;
    width: 100%;
    position: absolute;
}

.header {
    position: fixed;
    width: 100%;
    height: 80%;
    color: black;
    background-color: black;
    overflow: hidden;
}

.headerName {
    position: fixed;
    font-size: 50px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #FFFFF0;
    left: 60%;
    font-weight: 100;
    letter-spacing: 2px;
    top: 20%;
}
.headerNameUnderline {
    height: 3px;
    width: 35%;
    left: 60%;
    position: absolute;
    background-color: #FFFFF0;
    top: 35%;
}
.element {
    background-color: transparent;
    width: 30%;
    top:37%;
    left: 60%;
    height: 10%;
    position: absolute;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #FFFFF0;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 30px;
}

.section1 {
    box-shadow: -6px -10px 20px #242424;
    top: 47%;
    background-color: #FFFFF0;
    position: absolute;
    height: 60%;
    width: 500%;

}
.section1square {
    box-shadow: -6px 0px 20px #242424;
    position: absolute;
    left: 50%;
    top: -43px;
    transform: translate(-50%) rotate(45deg) ;    
    background-color: #FFFFF0;
    width: 80px;
    height: 80px;
}
.square {
    background-color: #242424;
    margin-top: 3px;
    margin-left: 3px;
    width: 100%;
    height: 100%;

}





/*.section1content {
    top: 0;
    margin-top: 0;
    height: 900px;
    width: 100px;
    background-color: black;
    margin-top: 0.2%;
    height: 99.8%;
    width: 100%;
}*/


.aboutMeSection {
    width: 100%;
    height: 99.8%;
    background-color: #242424;
    position: absolute;
    right:0.2%;

}
.experienceSection {
    position: absolute;
    width: 99.8%;
    height: 100%;
    left: 100%;
    background-color: #242424;
}
.divide1 {
    top: 25%;
    left: 50%;
    transfrom: translateX(-50%);
    width: 2px;
    height: 65%;
    position: absolute;
    background-color: #FFFFF0;
}
.leftProfessional {
    position: absolute;
    width: 35%;
    top: 25%;
    height: 65%;
    left: 14%;
}

.mdb {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
}

.rightProfessional {
    position: absolute;
    width: 35%;
    top: 25%;
    height: 65%;
    right: 13%;
}
.revstream {
    height: 30%;
    width: 100%;
    position: absolute;
}
.labassist {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 50%;
    transform:translateY(-50%);
}

.nvidia {
    width: 100%;
    height: 30%;
    position: absolute;
}
.alfresco {
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.pasae {
    position: absolute;
    bottom: 0px;
    height: 30%;
    width: 100%;
}

.expTitle {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #FFFFF0;
    font-weight: 130;
    font-size: 20px;
    padding-bottom: 2px;
}

.expInfo {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #FFFFF0;
    font-weight: 100;
    letter-spacing: 2px;
    font-size:18px;
}


.expDescription {
    margin-top: 3px;
    font-weight: 100;
    font-size: 16px;
    color: #FFFFF0;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;

}











.educationSection {
    position: absolute;
    width: 99.8%;
    height: 100%;
    left: 200%;
    background-color: #242424;
}
.projectsSection {
    position: absolute;
    width: 99.8%;
    height: 100%;
    left: 300%;
    background-color: #242424;
}
.hobbiesSection {
    position: absolute;
    width: 99.8%;
    height: 100%;
    left: 400%;
    background-color: #242424;

}





.sectionTitle {
    letter-spacing: 2px;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
    position: absolute;
    font-size: 50px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #FFFFF0;
}

.aboutMeParagraph {
    width: 30%;
    text-indent: 50px;
    top: 25%;
    position: absolute;
    color: #FFFFF0;
    height: 40%;
    text-align: left;
    left: 65%;
    font-size: 21px;
    letter-spacing: 2px;
    transform: translateX(-50%);
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 100;
    border-style: solid;
    border-width: 0px;
    padding-left: 20px;
    padding-top: 20px;

}

.profpic{
    width: 250px;
    height: 250px;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    border: solid 1px;
    border-color: #FFFFF0;
    top: 48%;

 }




.educationHeader {
    position: absolute;
    width: 50%;
    top: 25%;
    height: 65%;
    left: 25%;
}
.educationTitle {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 130;
    font-size: 24px;
    color: #FFFFF0;
}

.educationDivide{
    height: 2px;
    background-color: #FFFFF0;
    width: 100%;
    top: 32px;
    position: absolute;
}
.educationMajor{
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #FFFFF0;
    font-weight: 100;
    letter-spacing: 2px;
    font-size:18px;
    top: 40px;
    position: absolute;
}
.educationYear {
    font-size: 18px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #FFFFF0;
    font-weight: 100;
    top: 65px;
    position: absolute;

}
 

.coursework {
    width: 100%;
    height: 50%;
    top: 25%;
    position: absolute;
}
.courseList{
    height: 80%;
    top: 20%;
    width: 100%;
}
.courseItem{
    text-indent: 5px;
    font-size: 20px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #FFFFF0;
    font-weight: 100;
    top: 10px;
    letter-spacing: 1px;
    position: relative;
}
.courseDivide {
    height: 2px;
    background-color: #FFFFF0;
    width: 100%;
    top: 30px;
    position: absolute;
}
.skills {
    width: 100%;
    height: 25%;
    top: 70%;
    position: absolute;

 }


.projects {
    width: 50%;
    left: 25%;
    overflow: hidden;
    top: 25%;
    background-color: transparent;
    position: absolute;
    height: 60%;
}
.auxPic {
    transform:  rotate(45deg) ;    
    position: absolute;
    width: 130%;
    top: -30%;
    left: -10%;
    z-index: 0;
}
.newsPic {
    z-index: 0;
    left: 0%;
    height: 100%;
    position: absolute;
}
.newsNow:hover {
    cursor: pointer;
    transition-duration: 0.9s;
    height: 55%;
}

.aux {
    overflow: hidden;
    width: 50%;
    background-color: white;
    height: 50%;

    position: absolute;
}
.aux:hover{
    cursor: pointer;
    transition-duration: 0.9s;
    width: 55%;
    height: 55%;
}

.sincerely {
    position: absolute;
    left: 50%;
    width: 25%;
    height: 25%;
    position: absolute;
    overflow: hidden;
    background-color: white;
}

.sincerely:hover {
    cursor: pointer;
    transition-duration: 0.9s;
    height: 30%;

}



.sinPic {
    width: 100%;
    overflow: hidden;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);

}


.newsNow {
    right: 0%;
    overflow: hidden;
    width:25%;
    top: 0px;
    height: 50%;
    position: absolute;

} 
.copilot {
    top: 25%;
    left:50%;
    position: absolute;
    height: 50%;
    width: 25%;
    overflow: hidden;
}

.pilotPic {
    height: 100%;
    position: absolute;
    left: -25%;
}
.copilot:hover {
    cursor: pointer;
    height: 55%;
    transition-duration: 0.9s;
}

.mapsPic {
    height: 100%;
    position: absolute;
    left: -25%;
}

.maps {
    top: 50%;
    left: 0px;
    height: 50%;
    width: 25%;
    overflow: hidden;
    background-color: white;
    position: absolute;
}
.maps:hover {
    width: 40%;
    cursor: pointer;
    transition-duration: 0.9s;

}
.enigma {
    top: 50%;
    right: 50%;
    height: 50%;
    width: 25%;
    background-color: white;
    position: absolute;
    overflow: hidden;
}
.enigma:hover {
    cursor: pointer;
    height: 55%;
    transition-duration: 0.9s;

}


.enigmaPic {
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    position: absolute;
}



.stocks{
    width: 50%;
    height: 25%;
    position: absolute;
    left: 50%;
    overflow: hidden;
    top: 75%;
}
.stockPic {
    width: 100%;
    top:-40%;

    position: absolute;
}
.stocks:hover {
    cursor: pointer;
    transition-duration: 0.9s;
    height: 35%;
}
.fosterPic {
    width: 100%;
    position: absolute;
    top: -25%;
}
.fosterGrowth {
    top: 50%;
    position: absolute;
    height: 25%;
    width: 25%;
    left: 75%;
    overflow: hidden;
}
.fosterGrowth:hover {
    width: 30%;
    transition-duration: 0.9s;
    cursor: pointer;

}
.overlay {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: black;
    opacity: 0.3;
}

.overlay:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 0.3s;
    background-color: black;
    opacity: 0.0;
}


.hobbiesContent {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 55%;
    left: 50%;
    transform:translateY(-50%) translateX(-50%);
    overflow: hidden;
}

.hobbiesDiv {
    height: 100%;
    background-color: #FFFFF0;
    left: 31%;
    position: absolute;
    width: 0.2%;
}
.hobbiesDiv2 {
    height: 100%;
    background-color: #FFFFF0;
    left: 69.3%;
    position: absolute;
    width: 0.1%;
}

.music {
    overflow: hidden;
    height: 100%;
    width: 33%;
    position: absolute;
}
.dance {
    height: 100%;
    overflow: hidden;
    width: 36%;
    left: 33%;
    position: absolute;
}


.tkd {
    overflow: hidden;
    height: 100%;
    width: 33%;
    left: 67%;
    position: absolute;

}


.hobbyPic {
    position: absolute;
    transition-duration: 2s;
    left: 35%;
    transform:translateX(-50%);
    height: 100%;
}





.section {
    height: 100%;
    transition-duration: 2s;
    position: absolute;
    width: 100%;
}

.section:hover {
    transition-duration: 2s;
    width: 150%;
    position: absolute;
    cursor: pointer;
}


.danceSection {
    height: 100%;
    transition-duration: 2s;
    position: absolute;
    width: 100%;
}

.hobbyTitle {
    background-color: white;
    top: 40%;
    left: 50%;
    text-align: center;
    padding-top:10px;
    opacity: 0.8;
    border-width: 1.2px;
    border-color: black;
    border-style: solid;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transform:translateX(-50%) translateY(-50%);
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
}







 #slider {
    background-color: #FFFFF0;
    margin-top: 0.04%;
    height: 99.8%;
    width: 20%;

    position: absolute;

}






